$primary: #c2185b;
$secondary: #2c2c2c;

label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
.heroes-details-wrapper{
  display: block;
  grid-gap: 1%;
  width: 100%;
  height: calc(100% - 64px);
  box-sizing: border-box;
  padding: 24px 16px;
  overflow-y: auto;
  > div{
    width: 250px;
    display: flex;
    img.mat-mdc-card-sm-image {
      margin: auto;
      border-radius: 50%;
      width: 150px;
      height: 150px;
    }
    + div{margin-top: 4px;}
    input {
      outline: none;
      height: 28px;
      padding: 8px;
      box-sizing: border-box;
      box-shadow: none;
      border: 1px solid $primary;
      color:$secondary;
      width: 100%;
      border-radius: 2px;
      background: rgb(255 255 255 / 13%);
    }
  }
}

