.heroes-wrapper{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 24px 16px;
  font-size: 16px;
  > div{
    min-height: 236px;
    min-width: 300px;
    width: 32%;
    position: relative;
    button{
      position: absolute;
      right: 14px;
      top: 14px;
      color: rgb(255 255 255 / 35%);
      transition: .3s;
      &:hover{
        color: #fff;
        transition: .3s;
      }
    }
  }
  a{text-decoration: none;}
}
.mat-mdc-card-header {
  display: flex;
  padding: 16px;
  background: #424242;
  color: #fff;
  font-size: 21px;
  position: static;
  .mat-mdc-card-sm-image {
    width: 80px;
    height: 80px;
    margin: 0 16px 0 0;
    border-radius: 40px;
    + div {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      line-height: 1.4;
  }
}
}
.mat-mdc-card-content {
  display: block;
  padding: 12px 16px 0 16px;
  box-sizing: border-box;
  line-height: 1.4;
  color: #424242;
}
.mat-mdc-card {
  position: relative;
  background-color: #fff;
  border: 1px solid rgb(66 66 66 / 30%);
  box-shadow: none;
  margin: 8px;
  transition: .3s;
  &:hover{
    transition: .3s;
    border: 1px solid rgb(66 66 66 / 10%);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
}
.main-content{overflow-y: auto; height: calc(100% - 64px);}
